<footer class="container-fluid cp-footer">
  <div class="container">
    <div class="footer-section">
      <div class="footer-brand">
        <img src="/images/quadrafort/hero-logo.jpg" class="img-fluid" alt="">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi
          aut voluptatibus non quas, minima a modi. Labore neque nemo quibusdam
          ex, error, ipsum dolor doloremque, ratione qui quisquam assumenda.
        </p>
      </div>
      <div class="footer-link">
        <h3>Company</h3>

        <ul>
          <li>
            <a href="<?php echo base_url().'Store/products?type=loans&name=Personal Loans'?>" >About us</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/products?type=loans&name=Business Loans'?>" >Career</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/products?type=loans&name=Home Loans'?>" >Terms of use</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/products?type=loans&name=Loan Against Propertys'?>" >Disclosure</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/products?type=loans&name=Heavy Vehicle Loans'?>" >Data Privacy</a>
          </li>
        </ul>
      </div>
      <div class="footer-link">
        <h3>REACH OUT TO US</h3>
        <ul>
          <li><a href="<?php echo base_url();?>">Home</a></li>
          <li>
            <a href="<?php echo base_url().'Store/AboutUs'?>">About Us</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/services'?>">Services</a>
          </li>
          <li>
            <a href="<?php echo base_url().'Store/Contact'?>">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="social-links">
        <h3>Social Options</h3>
        <ul>
          <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="container-fluid copyright">
  <div class="container">
    <p>Copyright &copy; All rights reserved.</p>
  </div>
</div>
