<%- include('../Includes/Location.ejs') %>
  <nav class="navbar navbar-expand-lg navbar-dark p-lg-2">
  <div class="container">
    <h3><a class="navbar-brand" href="/">
      <img src="/images/quadrafort/hero-logo.jpg" class="img-fluid" alt=""> <!--<span class="navbar-title">Quadrafort Realty</span>-->
    </a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item" id="community-nav">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item" id="login-nav">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile"><span id="profile">
          </span></a>
        </li>
        <li class="nav-item logout-nav">
          <a class="nav-link logout-btn"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
