$media-xs:576px;
$media-sm:768px;
$media-md:1024px;
$media-lg:1366px;
$media-xl:1600px;

// $font-barlow: 'Barlow', sans-serif;
// $font-Bebas: 'Bebas Neue', cursive;
// $font-Poppins: 'Poppins', sans-serif;
// $font-Roboto: 'Roboto', sans-serif;

$font-barlow: 'Ubuntu', sans-serif;
$font-Bebas: 'Ubuntu', cursive;
$font-Poppins: 'Ubuntu', sans-serif;
$font-Roboto: 'Ubuntu', sans-serif;

// $primary-color: #08548d;
// $second-color: #08548d;
$primary-color: #D92828;
$second-color: #D92828;
$gradient-color: linear-gradient(to right, #D92828,#F47935,#FACE35);